In [1]:
import sqlalchemy
import numpy as np
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine , func
from sqlalchemy.orm import Session

In [2]:
engine = create_engine('postgresql+psycopg2://postgres: @localhost/nfl_database')

In [3]:
# conn_string = "host='localhost' dbname='nfl_database' user='postgres' password='Kickingass2019'"
# conn = psycopg2.connect(conn_string)

In [4]:
# reflect an existing database into a new model
Base = automap_base()

In [5]:
# reflect the tables
Base.prepare(engine, reflect=True)
Base.classes.keys()

['player_stats', 'player_income', 'area_income', 'stadium_info']

In [6]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [7]:
stadium = Base.classes.stadium_info
stats = Base.classes.player_stats
player_income = Base.classes.player_income
area_income = Base.classes.area_income

In [8]:
# data points for map 
stadium_results = session.query(stadium.team,stadium.lat,stadium.long).all()
stadium_records = [dict(zip(row.keys(), row)) for row in stadium_results]
stadium_records

[{'team': 'Philadelphia Eagles', 'lat': 39.90147, 'long': -75.16729},
 {'team': 'San Diego Chargers', 'lat': 32.78322, 'long': -117.11976},
 {'team': 'Carolina Panthers', 'lat': 35.22584, 'long': -80.85331},
 {'team': 'Jacksonville Jaguars', 'lat': 30.32387, 'long': -81.6369},
 {'team': 'Chicago Bers', 'lat': 41.8625, 'long': -87.61677},
 {'team': 'New England Patriots', 'lat': 42.09188, 'long': -71.26491},
 {'team': 'Buffalo Bills', 'lat': 42.77379, 'long': -78.78679},
 {'team': 'Tampa Bay Buccaneers', 'lat': 27.97884, 'long': -82.50349},
 {'team': 'Seattle Seahawks', 'lat': 47.59476, 'long': -122.33165},
 {'team': 'Green Bay Packers', 'lat': 44.50117, 'long': -88.06223},
 {'team': 'Minnesota Vikings', 'lat': 44.97401, 'long': -93.25848},
 {'team': 'Atlanta Falcons', 'lat': 33.75735, 'long': -84.40121},
 {'team': 'Cincinnati Bengals', 'lat': 39.09532, 'long': -84.51623},
 {'team': 'New York Giants/ NewYork Jets', 'lat': 40.81361, 'long': -74.07444},
 {'team': 'Miami Dolphins', 'lat': 25.95801, 'long': -80.23889},
 {'team': 'Indianapolis Colts', 'lat': 39.76, 'long': -86.16361},
 {'team': 'Houston Texans', 'lat': 29.68493, 'long': -95.41092},
 {'team': 'St. Louis Rams', 'lat': 38.63278, 'long': -90.18854},
 {'team': 'Baltimore Ravens', 'lat': 39.2779, 'long': -76.6227},
 {'team': 'Detroit Lions', 'lat': 42.34005, 'long': -83.04564},
 {'team': 'Arizona Cardinals', 'lat': 33.52713, 'long': -112.25876},
 {'team': 'Cleveland Browns', 'lat': 41.50618, 'long': -81.69962},
 {'team': 'Oakland Raiders', 'lat': 37.75233, 'long': -122.1999},
 {'team': 'San Francisco 49ers', 'lat': 37.71399, 'long': -122.38673},
 {'team': 'Tennessee Titans', 'lat': 36.16654, 'long': -86.77252},
 {'team': 'Kansas City Chiefs', 'lat': 39.04895, 'long': -94.48388},
 {'team': 'Pittsburgh Steelers', 'lat': 40.44673, 'long': -80.01574},
 {'team': 'Washington Redskins', 'lat': 38.90778, 'long': -76.86444},
 {'team': 'Denver Broncos', 'lat': 39.74396, 'long': -105.02028},
 {'team': 'New Orleans Saints', 'lat': 29.95116, 'long': -90.08128},
 {'team': 'Dallas Cowboys', 'lat': 32.74778, 'long': -97.09277}]

In [9]:
# data points for bar 
player_income_results = session.query(player_income.position,func.round(func.avg(player_income.cap_hit),2).label('avg_income')).group_by(player_income.position).all()
player_income_records = [dict(zip(row.keys(), row)) for row in player_income_results]
player_income_records

[{'position': 'DE', 'avg_income': Decimal('1689123.90')},
 {'position': 'GT', 'avg_income': Decimal('1050000.00')},
 {'position': None, 'avg_income': Decimal('437647.00')},
 {'position': 'LSTE', 'avg_income': Decimal('1000000.00')},
 {'position': 'CB', 'avg_income': Decimal('1331829.42')},
 {'position': 'SS', 'avg_income': Decimal('718664.42')},
 {'position': 'P', 'avg_income': Decimal('1400722.91')},
 {'position': 'ILB', 'avg_income': Decimal('1008374.36')},
 {'position': 'DT', 'avg_income': Decimal('1681375.06')},
 {'position': 'RB', 'avg_income': Decimal('1055344.83')},
 {'position': 'LB-DE', 'avg_income': Decimal('4000000.00')},
 {'position': 'QB', 'avg_income': Decimal('3619762.96')},
 {'position': 'C', 'avg_income': Decimal('1035338.47')},
 {'position': 'FB', 'avg_income': Decimal('808331.11')},
 {'position': 'LS', 'avg_income': Decimal('572647.10')},
 {'position': 'DB', 'avg_income': Decimal('2345775.49')},
 {'position': 'OLB', 'avg_income': Decimal('984402.85')},
 {'position': 'LB', 'avg_income': Decimal('1410121.16')},
 {'position': 'WR/RB', 'avg_income': Decimal('625000.00')},
 {'position': 'DL', 'avg_income': Decimal('1835397.65')},
 {'position': 'K', 'avg_income': Decimal('1102177.81')},
 {'position': 'OT', 'avg_income': Decimal('1238938.94')},
 {'position': 'OG', 'avg_income': Decimal('1118471.88')},
 {'position': 'HB', 'avg_income': Decimal('82059.00')},
 {'position': 'G', 'avg_income': Decimal('2068103.76')},
 {'position': 'T', 'avg_income': Decimal('2453042.29')},
 {'position': 'WR', 'avg_income': Decimal('1399398.37')},
 {'position': 'OL', 'avg_income': Decimal('2126004.96')},
 {'position': 'TE', 'avg_income': Decimal('1323268.55')},
 {'position': 'DE-C', 'avg_income': Decimal('900000.00')},
 {'position': 'S', 'avg_income': Decimal('773459.06')},
 {'position': 'FS', 'avg_income': Decimal('1142992.91')},
 {'position': 'NT', 'avg_income': Decimal('583824.00')}]

In [10]:
team_income_results = session.query(player_income.team,func.round(func.avg(player_income.cap_hit),2).label('avg_income')).group_by(player_income.team).all()
team_income_records = [dict(zip(row.keys(), row)) for row in team_income_results]
team_income_records

[{'team': 'DEN', 'avg_income': Decimal('1817936.28')},
 {'team': 'CHI', 'avg_income': Decimal('1462107.42')},
 {'team': 'IND', 'avg_income': Decimal('981508.49')},
 {'team': 'HOU', 'avg_income': Decimal('1284251.63')},
 {'team': 'NYJ', 'avg_income': Decimal('1350735.35')},
 {'team': 'LAR', 'avg_income': Decimal('1604034.20')},
 {'team': 'SFO', 'avg_income': Decimal('1082644.72')},
 {'team': 'LAC', 'avg_income': Decimal('1397108.53')},
 {'team': 'CLE', 'avg_income': Decimal('1047613.10')},
 {'team': 'PIT', 'avg_income': Decimal('1623710.61')},
 {'team': 'ATL', 'avg_income': Decimal('1889180.26')},
 {'team': 'BAL', 'avg_income': Decimal('1194403.98')},
 {'team': 'DAL', 'avg_income': Decimal('1414430.59')},
 {'team': 'GNB', 'avg_income': Decimal('1413450.87')},
 {'team': '3TM', 'avg_income': Decimal('434019.33')},
 {'team': 'TEN', 'avg_income': Decimal('1662852.23')},
 {'team': 'BUF', 'avg_income': Decimal('1476411.84')},
 {'team': 'ARI', 'avg_income': Decimal('1711802.81')},
 {'team': 'WAS', 'avg_income': Decimal('1716097.17')},
 {'team': 'OAK', 'avg_income': Decimal('1450399.33')},
 {'team': 'NYG', 'avg_income': Decimal('1668821.72')},
 {'team': 'NWE', 'avg_income': Decimal('1382396.76')},
 {'team': 'TAM', 'avg_income': Decimal('1578890.10')},
 {'team': 'CIN', 'avg_income': Decimal('1798033.14')},
 {'team': 'MIN', 'avg_income': Decimal('1659558.05')},
 {'team': 'NOR', 'avg_income': Decimal('1343675.27')},
 {'team': 'JAX', 'avg_income': Decimal('1871216.12')},
 {'team': 'CAR', 'avg_income': Decimal('1532217.09')},
 {'team': 'PHI', 'avg_income': Decimal('1640182.37')},
 {'team': 'SEA', 'avg_income': Decimal('1772796.06')},
 {'team': 'KAN', 'avg_income': Decimal('1693990.42')},
 {'team': 'MIA', 'avg_income': Decimal('1404374.25')},
 {'team': '2TM', 'avg_income': Decimal('1059402.02')},
 {'team': 'DET', 'avg_income': Decimal('1389559.62')}]